@page "/AllBook"
@namespace BlazorApp.Components.Models




<PageTitle>All Books</PageTitle>

<h1> All books</h1>

<p role="status">Current number of books: @books.Count</p>

@if (books != null)
{
    <div class="books">
        @foreach (var book in books)
        {
            <h3>@book.Title</h3>
            <img src="@book.ImageUrl" alt="@book.Title" />
            <p>By: @book.Author</p>
            <p>ID: @book.Id</p>

            <p>@book.Description</p>
            <p>Price: @book.Price</p>      
            
            
        }
    </div>
}

@code {

    List<BookItem> books = new();

    protected override void OnInitialized()
    {
        books.AddRange(new List<BookItem>
        {

        new BookItem { Id = 1, Title = "Book 1", Author = "Author 1", Description = "Description 1", Price = 12.99m, ImageUrl = @"img/books/BefriPreben.jpeg" },
        new BookItem { Id = 2, Title = "Book 2", Author = "Author 2", Description = "Description 2", Price = 15.99m, ImageUrl = @"img/books/DetBlindeOje.jpeg" },
        new BookItem { Id = 3, Title = "Book 3", Author = "Author 3", Description = "Description 3", Price = 9.99m, ImageUrl = @"img/books/DetFantatiskeBus.jpeg" },
        new BookItem { Id = 4, Title = "Book 4", Author = "Author 1", Description = "Description 1", Price = 12.99m, ImageUrl = @"img/books/BefriPreben.jpeg" },
        new BookItem { Id = 5, Title = "Book 5", Author = "Author 1", Description = "Description 1", Price = 12.99m, ImageUrl = @"img/books/BefriPreben.jpeg" },
        new BookItem { Id = 6, Title = "Book 6", Author = "Author 2", Description = "Description 2", Price = 15.99m, ImageUrl = @"img/books/DetBlindeOje.jpeg" },
        new BookItem { Id = 7, Title = "Book 7", Author = "Author 3", Description = "Description 3", Price = 9.99m, ImageUrl = @"img/books/DetFantatiskeBus.jpeg" },
        new BookItem { Id = 8, Title = "Book 8", Author = "Author 1", Description = "Description 1", Price = 12.99m, ImageUrl = @"img/books/BefriPreben.jpeg" },
        new BookItem { Id = 9, Title = "Book 9", Author = "Author 1", Description = "Description 1", Price = 12.99m, ImageUrl = @"img/books/BefriPreben.jpeg" },
        new BookItem { Id = 10, Title = "Book 10", Author = "Author 2", Description = "Description 2", Price = 15.99m, ImageUrl = @"img/books/DetBlindeOje.jpeg" },
        new BookItem { Id = 11, Title = "Book 11", Author = "Author 3", Description = "Description 3", Price = 9.99m, ImageUrl = @"img/books/DetFantatiskeBus.jpeg" },
        new BookItem { Id = 12, Title = "Book 12", Author = "Author 1", Description = "Description 1", Price = 12.99m, ImageUrl = @"img/books/BefriPreben.jpeg" },
        new BookItem { Id = 13, Title = "Book 13", Author = "Author 2", Description = "Description 2", Price = 15.99m, ImageUrl = @"img/books/DetBlindeOje.jpeg" },

    });

    }

}