@page "/bookpage/{productId:int}"
@inject DatabaseService databaseService

@if (ProductToShow == null)
{
    <p>Loading book details...</p>
}
else
{
    <div>
        <div class="book-item">
            <img src="@ProductToShow.ImagePath" alt="Book image" class="book-image" />
            <div class="book-details">
                <h1>@ProductToShow.Title</h1>
                <p>Description: @ProductToShow.Description</p>
                <p>Author: @ProductToShow.Author</p>
                <p>Price: kr. @ProductToShow.Price</p>
                <p>Language: @ProductToShow.Language</p>
                <p>Release Date: @ProductToShow.ReleaseDate</p>
                <p>ISBN: @ProductToShow.ISBN</p>
                <p>Pages: @ProductToShow.Pages</p>
                <p>Category: @ProductToShow.Category</p>
                <p>Condition: @ProductToShow.Condition</p>
                @if (ProductToShow.Reviews != null && ProductToShow.Reviews.Count > 0)
                {
                    <h3>Reviews:</h3>
                    @foreach (var review in ProductToShow.Reviews)
                    {
                        <p>@review</p>
                    }
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int productId { get; set; }

    private UsedBooks ProductToShow;

    protected override void OnInitialized()
    {
        ProductToShow = databaseService.GetUsedBookById(productId);
    }
}










