@inject DatabaseService databaseService
@inject NavigationManager navManager

@page "/"
<link rel="stylesheet" href="home.css" />


    <title>Buy & Sell Used Books</title>

    <header>
        <h1>[Book store name]</h1>
        <p>Buy & Sell Used Books</p>
        <a href="#" class="shiny-button link">Get Started</a>
    </header>
    <br>
<br>
    <div class="container">
        <section id="mission">
            <h2>Our Mission</h2>
            <p>At [Book store name], we believe in giving books a second life and connecting readers with their next favorite story. Whether you're looking to declutter your shelves or discover hidden literary gems, we're here to make it happen.</p>
        </section>
        <section id="what-sets-us-apart">
            <h2>What Sets Us Apart</h2>
            <p>With a diverse selection of genres, a user-friendly interface, and a supportive community of book lovers, Your Book Haven provides the perfect platform for buying and selling used books.</p>
        </section>
        <section id="how-it-works">
            <h2>How It Works</h2>
            <p>Selling your used books is as easy as 1-2-3:</p>
            <ol>
                <li>List Your Books</li>
                <li>Connect with Buyers</li>
                <li>Ship and Get Paid</li>
            </ol>
            <p>Buying books is just as simple:</p>
            <ol>
                <li>Browse Listings</li>
                <li>Contact Sellers</li>
                <li>Purchase and Enjoy</li>
            </ol>
            <p>Join us today and give old books a new life!</p>
        </section>
        <h1>Latest books</h1>

        <div class="book_scroll_container">
    <div class="book_scroll_content">
        <div class="books-container">
        @if (allProducts != null) @foreach (var book in allProducts)
        {
            <div class="book-card" @onclick="@( () => navManager.NavigateTo($"/bookpage/{book.Id}") )">
                <div class="book-item">
                    <img src="@book.ImagePath" alt="Book image" class="book-image" />
                    <div class="book-details">
                        <h3>@book.Title</h3>
                        <p>@book.Author</p>
                        <p>kr. @book.Price</p>
                    </div>
                </div>
            </div>
        }
    </div>
    </div>
    </div>
</div>


@code {

    [Parameter]
    public int? productId { get; set; }

    public UsedBooks ProductToShow { get; set; }
    public List<UsedBooks> allProducts { get; set; }


    protected override void OnInitialized()
    {
        LoadNewestBooks();
    }

    private void LoadNewestBooks()
    {   allProducts = databaseService.GetBooksFromSql("SELECT * FROM Books ORDER BY id DESC LIMIT 6;");

    }

}


