@inject DatabaseService databaseService
@inject NavigationManager navManager

@page "/"
<link rel="stylesheet" href="home.css" />


    <title>Buy & Sell Used Books</title>

    <header>
    <h1>Book harbor</h1>
        <p>Buy & Sell Used Books</p>
        <a href="/signup" class="shiny-button link">Get Started</a>
    </header>
    <br>
<br>
<div class="home_container">
        <section id="mission">
            <h2>Our Mission</h2>
        <p>At Book harbor, we belive that every book deserves a home, and a chance to have their dust brushed off, and given new life in the hands of book enjoyers across the world.</p>
        </section>
        <section id="what-sets-us-apart">
            <h2>What Sets Us Apart</h2>
        <p>With our large community of book lovers, who activly sell and buy books there is something for everybody, everything from fantasy to philosophy there is always something new and exciting to find and discover.</p>
        </section>
        <section id="how-it-works">
            <h2>How It Works</h2>
            <p>Selling your used books is as easy as 1-2-3:</p>
            <ol>
                <li>List Your Books</li>
                <li>Connect with Buyers</li>
                <li>Ship and Get Paid</li>
            </ol>
            <p>Buying books is just as simple:</p>
            <ol>
                <li>Browse Listings</li>
                <li>Contact Sellers</li>
                <li>Purchase and Enjoy</li>
            </ol>
            <p>Join us today and give old books a new life!</p>
        </section>
    <h1 style="text-align: center;">Latest books</h1>

        <div class="book_scroll_container">
        <div class="book_scroll_content">
        @if (allProducts != null) @foreach (var book in allProducts)
        {
                    <div class="book-card" @onclick="@( () => navManager.NavigateTo($"/bookpage/{book.Id}") )">
                <div class="book-item">
                    <img src="@book.ImagePath" alt="Book image" class="book-image" />
                            <div class="book-details">
                                <h3 class="white_space_wrap">@book.Title</h3>
                        <p>@book.Author</p>
                        <p>kr. @book.Price</p>
                    </div>
                </div>
            </div>
        }
    </div>
    </div>

    <a href="/terms" >Terms and conditions</a>

</div>


@code {

    [Parameter]
    public int? productId { get; set; }

    public UsedBooks ProductToShow { get; set; }
    public List<UsedBooks> allProducts { get; set; }


    protected override void OnInitialized()
    {
        LoadNewestBooks();
    }

    private void LoadNewestBooks()
    {   allProducts = databaseService.GetBooksFromSql("SELECT * FROM Books ORDER BY id DESC LIMIT 6;");

    }

}


